WEB-INF/cert/GIP_WSP.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://gip.com/" xmlns:tns="http://gip.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xuLyTruyVanMsg" type="tns:xuLyTruyVanMsg"/>
  <xs:element name="xuLyTruyVanMsgResponse" type="tns:xuLyTruyVanMsgResponse"/>
  <xs:complexType name="xuLyTruyVanMsg">
    <xs:sequence>
      <xs:element name="in_msg" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xuLyTruyVanMsgResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>